.header,
.headerScrolled {
    top: 0;
    position: fixed;
    display: flex;
    flex-direction: row;
    height: 4rem;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    border-bottom: 0.5px solid lightgray;
    z-index: 1;
    background-color: inherit;
}

.headerScrolled {
    box-shadow: 0 2px 2px rgba(0.2, 0.2, 0.2, 0.2);
}

.headerLeading,
.headerTrailing {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.headerLeading {
    width: 100%;
    gap: 0.5rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

.headerTrailing {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    justify-content: flex-end;
}

.headerTitle {
    width: 200px;
}

.headerTitle p {
    color: gray;
    font-size: x-large;
    font-weight: lighter;
    cursor: default;
}

.accountAnchor,
.navAnchor,
.settingsAnchor {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.accountAnchor,
.settingsAnchor {
    justify-content: flex-end;
}

.navAnchor {
    justify-content: flex-start;
}

.menu {
    background-color: white;
    display: flex;
    flex-direction: column;
    top: 4.5rem;
    position: fixed;
    z-index: 5;
    box-shadow: 0 2px 2px rgba(0.1, 0.1, 0.1, 0.1);
}

.navLink,
.navLinkActive,
.navLinkOut {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: x-large;
    font-weight: lighter;
    gap: 1rem;
    color: gray;
    padding: 0.5rem;
    text-decoration: none;
    z-index: 3;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
    touch-action: manipulation;
}

.navLink:hover {
    background-color: rgba(0.2, 0.2, 0.2, 0.2);
}

.navLinkActive {
    background-color: #fff59c;
}

.searchInputContainer {
    display: flex;
    max-width: 600px;
    width: 100%;
    flex-direction: row;
    align-items: center;
    padding-left: 0.5rem;
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
    padding-right: 0.5rem;
    box-shadow: 0 4px 8px rgba(0.1, 0.1, 0.1, 0.1);
}

@media(prefers-color-scheme: dark) {
    .header,
    .headerScrolled,
    .menu,
    .backgroundMenu {
        background-color: #121212;
    }

    .searchInputContainer {
        background-color: #4d4d4d;
    }

    .header, 
    .headerScrolled {
        border-bottom: 0.5px solid gray;
    }

    .menu,
    .backgroundMenu {
        border: 0.5px solid gray;
    }
}

@media screen and (max-width: 768px) {
    .headerTitle {
        display: none;
    }
}