:root {
  --background: #f9fafb;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  padding: 0;
  margin: 0;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color: inherit;
  text-decoration: none;
}

p, h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

#icon {
  color: gray;
}

::-webkit-scrollbar {
  width: 10px;
  background-color: lightgrey;
}

::-webkit-scrollbar-thumb {
  background: #888;
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }

  body {
    background-color: #0a0a0a;
  }

  a {
    color: lightgray;
  }

  ::-webkit-scrollbar-thumb {
    background: #555;
  }
}