.page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.container {
  gap: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header {
  top: 0;
  position: fixed;
  display: flex;
  flex-direction: row;
  height: 4rem;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 4px 8px rgba(0.1, 0.1, 0.1, 0.1);
  z-index: 1;
}

.headerLeading,
.headerTrailing {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.headerLeading {
  width: 100%;
  gap: 1rem;
  padding-left: 1rem;
}

.headerTrailing {
  padding-right: 1rem;
}

.navLink {
  font-size: x-large;
  color: inherit;
  text-decoration: none;
  transition: transform 0.2s ease-in-out;
}

.navLink:hover {
  transform: scale(1.1);
}
